#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Pushover
Exec=/opt/google/chrome-beta/google-chrome-beta --profile-directory=Default --app-id=bapfcgoabfkbnmhcgoalpckhpajfoiad
Icon=chrome-bapfcgoabfkbnmhcgoalpckhpajfoiad-Default
StartupWMClass=crx_bapfcgoabfkbnmhcgoalpckhpajfoiad
