/tmp
/settings/linux/home/gconf/desktop/gnome/background/%gconf.xml
/.idea
/settings/linux/home/mysql/

__pycache__
*.pyc

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/.history
