[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/bin/sh "/home/idachev/lib/thinkorswim/thinkorswim"
GenericName[en_US]=
GenericName=
Icon=/home/idachev/lib/thinkorswim/.install4j/thinkorswim.png
MimeType=
Name=thinkorswim
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Name[en_US]=Finance thinkorswim
