#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Trader Workstation
Exec="/home/idachev/lib/jts/tws" -J-DjtsConfigDir="/home/idachev/Jts" %U
Comment=Trader Workstation
Icon=/home/idachev/lib/jts/.install4j/tws.png
StartupWMClass=install4j-jclient-Launcher
