
[Desktop Entry]
Name=dev-21
Comment=Multiple terminals in one window
TryExec=terminator
Exec=terminator -l dev-2 -m --geometry=1600x1175+1600+48
Icon=terminator
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
StartupNotify=true
X-Ubuntu-Gettext-Domain=terminator
X-Ayatana-Desktop-Shortcuts=NewWindow;
Name[en_US]=dev-2

[NewWindow Shortcut Group]
Name=Open a New Window
Exec=terminator
TargetEnvironment=Unity
