[Unit]
Description=Run ZeroTier overlay watchdog every 15 minutes

[Timer]
OnBootSec=3min
OnCalendar=*:0/15
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
