[Desktop Entry]
Name=Calibre
Comment=Calibre
Exec=/home/idachev/lib/calibre/calibre
Icon=/home/idachev/lib/calibre/resources/images/library.png
Terminal=false
Type=Application
Categories=Books;
Keywords=Book;Books;Library
Name[en_US]=Calibre
