
[Desktop Entry]
Name=dev-1
Comment=Multiple terminals in one window
TryExec=terminator
Exec=terminator -l dev-1 -m --geometry=1600x1122+0+48
Icon=terminator
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
StartupNotify=true
X-Ubuntu-Gettext-Domain=terminator
X-Ayatana-Desktop-Shortcuts=NewWindow;
Name[en_US]=dev-1

[NewWindow Shortcut Group]
Name=Open a New Window
Exec=terminator
TargetEnvironment=Unity
