#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Development;IDE;Java;
Comment[en_US]=jEdit
Comment=jEdit
Exec=/home/idachev/bin/jedit
GenericName[en_US]=
GenericName=
Icon=/home/idachev/lib/jedit/doc/jedit.png
MimeType=
Name=jEdit
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
