[Desktop Entry]
Type=Application
Version=0.9.4
Name=JXplorer
Comment=JXplorer LDAP client
Icon=/home/idachev/lib/jxplorer/images/logo_32_trans.gif
Exec=/home/idachev/lib/jxplorer/jxplorer.sh
Terminal=false
Path=/home/idachev/lib/jxplorer