[Desktop Entry]
Type=Application
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=otpclient com.github.paolostivanin.OTPClient
Icon=com.github.paolostivanin.OTPClient
Keywords=otp;totp;hotp;
Terminal=false
Name=OTPClient
Comment=GTK+ TOTP and HOTP client
Categories=System;Security;GTK;GNOME;
StartupWMClass=otpclient
X-Purism-FormFactor=Workstation;Mobile;
X-Flatpak=com.github.paolostivanin.OTPClient
