#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=PhpStorm
Icon=/home/idachev/lib/PhpStorm-242.21829.154/bin/phpstorm.svg
Exec="/home/idachev/lib/PhpStorm-242.21829.154/bin/phpstorm" %f
Comment=Lightning-smart PHP IDE
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-phpstorm
StartupNotify=true
