[Desktop Entry]
Name=Postman
Comment=Postman
Exec=/home/idachev/lib/Postman/Postman
Icon=/home/idachev/lib/Postman/app/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Development;HTTP;
Keywords=REST;API;
Name[en_US]=Dev Postman
