#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Dev Postman
Comment=Postman
Exec=env POSTMAN_DISABLE_GPU=true /home/idachev/lib/Postman/Postman
Icon=/home/idachev/lib/Postman/app/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Development;HTTP;REST;
Keywords=REST;API;
Name[en_US]=Dev Postman
