[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm
Exec="/home/idachev/lib/pycharm/bin/pycharm.sh" %f
Icon=/home/idachev/lib/pycharm/bin/pycharm.png
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-pycharm
Name[en_US]=Dev J PyCharm
