#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Dev A2 PyCharm
Exec="/home/idachev/lib/pycharm/bin/pycharm" %f
Icon=/home/idachev/lib/pycharm/bin/pycharm.png
Comment=Develop with pleasure!
Categories=Development;IDE;Python;
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-pycharm
Name[en_US]=Dev A2 PyCharm
