[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/idachev/vmware/projects/vcloud/bin/restclient-2.2.sh
GenericName[en_US]=
GenericName=
Icon=exec
MimeType=
Name[en_US]=RESTClient 2.2
Name=RESTClient 2.2
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Ubuntu-Gettext-Domain=desktop_kdebase
