#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Skype
Comment=Skype Internet Telephony
Exec=/usr/bin/skypeforlinux %U
Icon=skypeforlinux
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=Skype
Encoding=UTF-8
Categories=Network;Application;
MimeType=x-scheme-handler/skype;
X-KDE-Protocols=skype
Actions=QuitSkype;

Name[en_US]=Chat Skype

[Desktop Action QuitSkype]
Name=Quit Skype
Name[en]=Quit Skype
Exec=/usr/bin/skypeforlinux --shutdown
OnlyShowIn=Unity;

