[Desktop Entry]
Name=Skype Secondary
Comment=Skype Internet Telephony
Exec=/usr/bin/skypeforlinux --secondary
Icon=skypeforlinux
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=Skype
Encoding=UTF-8
Categories=Network;Application;
MimeType=x-scheme-handler/skype;
X-KDE-Protocols=skype
Actions=QuitSkype;

Name[en_US]=Chat Skype Secondary

[Desktop Action QuitSkype]
Name=Quit Skype
Name[en]=Quit Skype
Exec=/usr/bin/skypeforlinux --shutdown
OnlyShowIn=Unity;
