#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Visual VM
Icon=/home/idachev/lib/icons/visualvm.svg
Exec=/home/idachev/lib/visualvm/bin/visualvm
Comment=Visual VM
Categories=Development;IDE;Java
Terminal=false
Name[en_US]=Visual VM
